html {
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4rem;
  background-color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.main-banner {
  height: 31rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: 30%;
  background-size: cover;
}

.company .container {
  position: relative;
  top: 1rem;
  display: flex;
  align-items: center;
  background-color: cadetblue;
  height: 3rem;
}

.logo {
  height: 1.5rem;
  margin: 0 1rem 0 2rem;
}

h3 {
  color: white;
}

.nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  color: white;
}

.navi {
  margin-right: 2rem;
}

.smNav {
  display: none;
}

.headline {
  display: flex;
  justify-content: flex-end;
  max-width: 1032px;
  margin: 0 auto;
  margin-top: 10rem;
}

h1 {
  background-color: white;
  padding: 3rem 5rem 3rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
  color: black;
}

.services {
  display: flex;
  justify-content: center;
  margin: 3rem 0 3rem 0;
}

.service {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 3rem;
  width: 5rem;
  height: 8rem;
}

.service-exam img {
  max-width: 3.5rem;
}

.service-image img {
  max-width: 5rem;
}

span.description {
  text-align: center;
  align-self: flex-end;
}

.information {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.philosophy,
.appointments {
  max-width: 35%;
}

.philosophy {
  margin-right: 5%;
}

.title {
  background-color: cadetblue;
  width: 11rem;
  font-weight: bold;
  padding: 0.5rem 0 0.5rem 1.25rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

footer .container {
  background-color: azure;
  height: 9.5rem;
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright img {
  padding: 4rem 1rem 4rem 4rem;
  height: 1.5rem;
}

/* VERTICAL TABLET */

@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .main-banner {
    height: 22rem;
    background-position: 35%;
  }

  .company .container {
    position: static;
  }

  .headline {
    align-items: center;
    max-width: 600px;
    margin-top: 8rem;
    margin-right: 2rem;
  }

  h1 {
    background-color: none;
    padding: 1.25rem 4rem 1.25rem 4rem;
    font-size: 1.33rem;
  }
}

/* MOBILE */

@media only screen and (max-width: 620px) {
  .main-banner {
    height: 17rem;
    background-position: 20%;
  }

  body {
    line-height: 1.2rem;
    font-size: 0.77rem;
  }

  .nav,
  .name {
    display: none;
  }

  .smNav {
    display: flex;
    flex-grow: 1;
    margin-right: 2rem;
    color: white;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-size: 1rem;
  }

  .headline {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 9rem;
    background-color: white;
    height: 3rem;
  }

  h1 {
    background-color: none;
    padding: 0;
    font-size: 1rem;
  }

  .services {
    flex-direction: column;
    align-items: center;
    margin: 3.77rem 0 2.23rem 0;
 }

  .service {
    display: flex;
    margin-bottom: 1.54rem;
    height: 7.5rem;
  }

  .smServiceFit {
    height: 6rem;
  }

  .smServiceDel {
    height: 5rem;
  }

  .information {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  .philosophy,
  .appointments {
    max-width: 100%;
  }

  .philosophy {
    margin-right: 0;
  }

  .title {
    text-align: center;
    width: 100%;
    padding: 0.5rem 0;
  }

  .copy {
    margin: 0 0.75rem 4rem 0.75rem;
  }

  .copyright {
    justify-content: center;
  }

  .copyright img {
    padding: 4rem 0rem 4rem 0rem;
  }

  .right {
    display: none;
  }
}
